openapi: 3.0.1
info:
  description: Shortcut API
  title: Shortcut API
  version: "3.0"
servers:
- url: https://api.app.shortcut.com/
security:
- api_token: []
paths:
  /api/v3/categories:
    get:
      description: List Categories returns a list of all Categories and their attributes.
      operationId: listCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Categories
    post:
      description: Create Category allows you to create a new Category in Shortcut.
      operationId: createCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategory'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Category
      x-codegen-request-body-name: CreateCategory
  /api/v3/categories/{category-public-id}:
    delete:
      description: Delete Category can be used to delete any Category.
      operationId: deleteCategory
      parameters:
      - description: The unique ID of the Category.
        in: path
        name: category-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Category
    get:
      description: Get Category returns information about the selected Category.
      operationId: getCategory
      parameters:
      - description: The unique ID of the Category.
        in: path
        name: category-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Category
    put:
      description: "Update Category allows you to replace a Category name with another\
        \ name. If you try to name a Category something that already exists, you will\
        \ receive a 422 response."
      operationId: updateCategory
      parameters:
      - description: The unique ID of the Category you wish to update.
        in: path
        name: category-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategory'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Category
      x-codegen-request-body-name: UpdateCategory
  /api/v3/categories/{category-public-id}/milestones:
    get:
      description: List Category Milestones returns a list of all Milestones with
        the Category.
      operationId: listCategoryMilestones
      parameters:
      - description: The unique ID of the Category.
        in: path
        name: category-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Milestone'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Category Milestones
  /api/v3/custom-fields:
    get:
      operationId: listCustomFields
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomField'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Custom Fields
  /api/v3/custom-fields/{custom-field-public-id}:
    delete:
      operationId: deleteCustomField
      parameters:
      - description: The unique ID of the CustomField.
        in: path
        name: custom-field-public-id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Custom Field
    get:
      operationId: getCustomField
      parameters:
      - description: The unique ID of the CustomField.
        in: path
        name: custom-field-public-id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Custom Field
    put:
      description: "Update Custom Field can be used to update the definition of a\
        \ Custom Field. The order of items in the 'values' collection is interpreted\
        \ to be their ascending sort order.To delete an existing enum value, simply\
        \ omit it from the 'values' collection. New enum values may be created inline\
        \ by including an object in the 'values' collection having a 'value' entry\
        \ with no 'id' (eg. {'value': 'myNewValue', 'color_key': 'green'})."
      operationId: updateCustomField
      parameters:
      - description: The unique ID of the CustomField.
        in: path
        name: custom-field-public-id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomField'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConflictError'
          description: ""
        "422":
          content: {}
          description: Unprocessable
      summary: Update Custom Field
      x-codegen-request-body-name: UpdateCustomField
  /api/v3/entity-templates:
    get:
      description: List all the entity templates for the Workspace.
      operationId: listEntityTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EntityTemplate'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Entity Templates
    post:
      description: Create a new entity template for the Workspace.
      operationId: createEntityTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityTemplate'
        description: Request paramaters for creating an entirely new entity template.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Entity Template
      x-codegen-request-body-name: CreateEntityTemplate
  /api/v3/entity-templates/disable:
    put:
      description: Disables the Story Template feature for the Workspace.
      operationId: disableStoryTemplates
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Disable Story Templates
  /api/v3/entity-templates/enable:
    put:
      description: Enables the Story Template feature for the Workspace.
      operationId: enableStoryTemplates
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Enable Story Templates
  /api/v3/entity-templates/{entity-template-public-id}:
    delete:
      operationId: deleteEntityTemplate
      parameters:
      - description: The unique ID of the entity template.
        in: path
        name: entity-template-public-id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Entity Template
    get:
      description: Get Entity Template returns information about a given entity template.
      operationId: getEntityTemplate
      parameters:
      - description: The unique ID of the entity template.
        in: path
        name: entity-template-public-id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Entity Template
    put:
      description: Update an entity template's name or its contents.
      operationId: updateEntityTemplate
      parameters:
      - description: The unique ID of the template to be updated.
        in: path
        name: entity-template-public-id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTemplate'
        description: |-
          Request parameters for changing either a template's name or any of
            the attributes it is designed to pre-populate.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Entity Template
      x-codegen-request-body-name: UpdateEntityTemplate
  /api/v3/epic-workflow:
    get:
      description: Returns the Epic Workflow for the Workspace.
      operationId: getEpicWorkflow
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicWorkflow'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Epic Workflow
  /api/v3/epics:
    get:
      description: List Epics returns a list of all Epics and their attributes.
      operationId: listEpics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEpics'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EpicSlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Epics
      x-codegen-request-body-name: ListEpics
    post:
      description: Create Epic allows you to create a new Epic in Shortcut.
      operationId: createEpic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpic'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Epic
      x-codegen-request-body-name: CreateEpic
  /api/v3/epics/{epic-public-id}:
    delete:
      description: Delete Epic can be used to delete the Epic. The only required parameter
        is Epic ID.
      operationId: deleteEpic
      parameters:
      - description: The unique ID of the Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Epic
    get:
      description: Get Epic returns information about the selected Epic.
      operationId: getEpic
      parameters:
      - description: The unique ID of the Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Epic
    put:
      description: "Update Epic can be used to update numerous fields in the Epic.\
        \ The only required parameter is Epic ID, which can be found in the Shortcut\
        \ UI."
      operationId: updateEpic
      parameters:
      - description: The unique ID of the Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEpic'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Epic
      x-codegen-request-body-name: UpdateEpic
  /api/v3/epics/{epic-public-id}/comments:
    get:
      description: Get a list of all Comments on an Epic.
      operationId: listEpicComments
      parameters:
      - description: The unique ID of the Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ThreadedComment'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Epic Comments
    post:
      description: This endpoint allows you to create a threaded Comment on an Epic.
      operationId: createEpicComment
      parameters:
      - description: The ID of the associated Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpicComment'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Epic Comment
      x-codegen-request-body-name: CreateEpicComment
  /api/v3/epics/{epic-public-id}/comments/{comment-public-id}:
    delete:
      description: This endpoint allows you to delete a Comment from an Epic.
      operationId: deleteEpicComment
      parameters:
      - description: The ID of the associated Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Epic Comment
    get:
      description: This endpoint returns information about the selected Epic Comment.
      operationId: getEpicComment
      parameters:
      - description: The ID of the associated Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Epic Comment
    post:
      description: This endpoint allows you to create a nested Comment reply to an
        existing Epic Comment.
      operationId: createEpicCommentComment
      parameters:
      - description: The ID of the associated Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the parent Epic Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentComment'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Epic Comment Comment
      x-codegen-request-body-name: CreateCommentComment
    put:
      description: This endpoint allows you to update a threaded Comment on an Epic.
      operationId: updateEpicComment
      parameters:
      - description: The ID of the associated Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateComment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Epic Comment
      x-codegen-request-body-name: UpdateComment
  /api/v3/epics/{epic-public-id}/stories:
    get:
      description: Get a list of all Stories in an Epic.
      operationId: listEpicStories
      parameters:
      - description: The unique ID of the Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEpicStories'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Epic Stories
      x-codegen-request-body-name: GetEpicStories
  /api/v3/epics/{epic-public-id}/unlink-productboard:
    post:
      description: This endpoint allows you to unlink a productboard epic.
      operationId: unlinkProductboardFromEpic
      parameters:
      - description: The unique ID of the Epic.
        in: path
        name: epic-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Unlink Productboard from Epic
  /api/v3/external-link/stories:
    get:
      description: Get Stories which have a given External Link associated with them.
      operationId: getExternalLinkStories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetExternalLinkStoriesParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get External Link Stories
      x-codegen-request-body-name: GetExternalLinkStoriesParams
  /api/v3/files:
    get:
      description: List Files returns a list of all UploadedFiles in the workspace.
      operationId: listFiles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UploadedFile'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Files
    post:
      description: |-
        Upload Files uploads one or many files and optionally associates them with a story.
           Use the multipart/form-data content-type to upload.
           Each `file` key should contain a separate file.
           Each UploadedFile's name comes from the Content-Disposition header "filename" directive for that field.
      operationId: uploadFiles
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/uploadFiles_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UploadedFile'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Upload Files
  /api/v3/files/{file-public-id}:
    delete:
      description: Delete File deletes a previously uploaded file.
      operationId: deleteFile
      parameters:
      - description: The File’s unique ID.
        in: path
        name: file-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete File
    get:
      description: Get File returns information about the selected UploadedFile.
      operationId: getFile
      parameters:
      - description: The File’s unique ID.
        in: path
        name: file-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get File
    put:
      description: Update File updates the properties of an UploadedFile (but not
        its content).
      operationId: updateFile
      parameters:
      - description: The unique ID assigned to the file in Shortcut.
        in: path
        name: file-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFile'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update File
      x-codegen-request-body-name: UpdateFile
  /api/v3/groups:
    get:
      description: "A group in our API maps to a \"Team\" within the Shortcut Product.\
        \ A Team is a collection of Users that can be associated to Stories, Epics,\
        \ and Iterations within Shortcut."
      operationId: listGroups
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Groups
    post:
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
          description: ""
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Group
      x-codegen-request-body-name: CreateGroup
  /api/v3/groups/disable:
    put:
      description: Disables Groups for the current workspace2
      operationId: disableGroups
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Disable Groups
  /api/v3/groups/enable:
    put:
      description: Enables Groups for the current workspace2
      operationId: enableGroups
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Enable Groups
  /api/v3/groups/{group-public-id}:
    get:
      operationId: getGroup
      parameters:
      - description: The unique ID of the Group.
        in: path
        name: group-public-id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Group
    put:
      operationId: updateGroup
      parameters:
      - description: The unique ID of the Group.
        in: path
        name: group-public-id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroup'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
          description: ""
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Group
      x-codegen-request-body-name: UpdateGroup
  /api/v3/groups/{group-public-id}/stories:
    get:
      description: "List the Stories assigned to the Group. (By default, limited to\
        \ 1,000)."
      operationId: listGroupStories
      parameters:
      - description: The unique ID of the Group.
        in: path
        name: group-public-id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListGroupStories'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Group Stories
      x-codegen-request-body-name: ListGroupStories
  /api/v3/iterations:
    get:
      operationId: listIterations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IterationSlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Iterations
    post:
      operationId: createIteration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIteration'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Iteration
      x-codegen-request-body-name: CreateIteration
  /api/v3/iterations/disable:
    put:
      description: Disables Iterations for the current workspace
      operationId: disableIterations
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Disable Iterations
  /api/v3/iterations/enable:
    put:
      description: Enables Iterations for the current workspace
      operationId: enableIterations
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Enable Iterations
  /api/v3/iterations/{iteration-public-id}:
    delete:
      operationId: deleteIteration
      parameters:
      - description: The unique ID of the Iteration.
        in: path
        name: iteration-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Iteration
    get:
      operationId: getIteration
      parameters:
      - description: The unique ID of the Iteration.
        in: path
        name: iteration-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Iteration
    put:
      operationId: updateIteration
      parameters:
      - description: The unique ID of the Iteration.
        in: path
        name: iteration-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIteration'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Iteration
      x-codegen-request-body-name: UpdateIteration
  /api/v3/iterations/{iteration-public-id}/stories:
    get:
      description: Get a list of all Stories in an Iteration.
      operationId: listIterationStories
      parameters:
      - description: The unique ID of the Iteration.
        in: path
        name: iteration-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIterationStories'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Iteration Stories
      x-codegen-request-body-name: GetIterationStories
  /api/v3/labels:
    get:
      description: List Labels returns a list of all Labels and their attributes.
      operationId: listLabels
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListLabels'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Label'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Labels
      x-codegen-request-body-name: ListLabels
    post:
      description: Create Label allows you to create a new Label in Shortcut.
      operationId: createLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabelParams'
        description: Request parameters for creating a Label on a Shortcut Story.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Label
      x-codegen-request-body-name: CreateLabelParams
  /api/v3/labels/{label-public-id}:
    delete:
      description: Delete Label can be used to delete any Label.
      operationId: deleteLabel
      parameters:
      - description: The unique ID of the Label.
        in: path
        name: label-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Label
    get:
      description: Get Label returns information about the selected Label.
      operationId: getLabel
      parameters:
      - description: The unique ID of the Label.
        in: path
        name: label-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Label
    put:
      description: "Update Label allows you to replace a Label name with another name.\
        \ If you try to name a Label something that already exists, you will receive\
        \ a 422 response."
      operationId: updateLabel
      parameters:
      - description: The unique ID of the Label you wish to update.
        in: path
        name: label-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Label
      x-codegen-request-body-name: UpdateLabel
  /api/v3/labels/{label-public-id}/epics:
    get:
      description: List all of the Epics with the Label.
      operationId: listLabelEpics
      parameters:
      - description: The unique ID of the Label.
        in: path
        name: label-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EpicSlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Label Epics
  /api/v3/labels/{label-public-id}/stories:
    get:
      description: List all of the Stories with the Label.
      operationId: listLabelStories
      parameters:
      - description: The unique ID of the Label.
        in: path
        name: label-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLabelStories'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Label Stories
      x-codegen-request-body-name: GetLabelStories
  /api/v3/linked-files:
    get:
      description: List Linked Files returns a list of all Linked-Files and their
        attributes.
      operationId: listLinkedFiles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LinkedFile'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Linked Files
    post:
      description: Create Linked File allows you to create a new Linked File in Shortcut.
      operationId: createLinkedFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkedFile'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Linked File
      x-codegen-request-body-name: CreateLinkedFile
  /api/v3/linked-files/{linked-file-public-id}:
    delete:
      description: Delete Linked File can be used to delete any previously attached
        Linked-File.
      operationId: deleteLinkedFile
      parameters:
      - description: The unique identifier of the linked file.
        in: path
        name: linked-file-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Linked File
    get:
      description: Get File returns information about the selected Linked File.
      operationId: getLinkedFile
      parameters:
      - description: The unique identifier of the linked file.
        in: path
        name: linked-file-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Linked File
    put:
      description: Updated Linked File allows you to update properties of a previously
        attached Linked-File.
      operationId: updateLinkedFile
      parameters:
      - description: The unique identifier of the linked file.
        in: path
        name: linked-file-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkedFile'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Linked File
      x-codegen-request-body-name: UpdateLinkedFile
  /api/v3/member:
    get:
      description: Returns information about the authenticated member.
      operationId: getCurrentMemberInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberInfo'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Current Member Info
  /api/v3/members:
    get:
      description: Returns information about members of the Workspace.
      operationId: listMembers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMembers'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Member'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Members
      x-codegen-request-body-name: ListMembers
  /api/v3/members/{member-public-id}:
    get:
      description: Returns information about a Member.
      operationId: getMember
      parameters:
      - description: The Member's unique ID.
        in: path
        name: member-public-id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMember'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Member
      x-codegen-request-body-name: GetMember
  /api/v3/milestones:
    get:
      description: List Milestones returns a list of all Milestones and their attributes.
      operationId: listMilestones
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Milestone'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Milestones
    post:
      description: Create Milestone allows you to create a new Milestone in Shortcut.
      operationId: createMilestone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMilestone'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
          description: ""
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Milestone
      x-codegen-request-body-name: CreateMilestone
  /api/v3/milestones/{milestone-public-id}:
    delete:
      description: Delete Milestone can be used to delete any Milestone.
      operationId: deleteMilestone
      parameters:
      - description: The ID of the Milestone.
        in: path
        name: milestone-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Milestone
    get:
      description: Get Milestone returns information about a chosen Milestone.
      operationId: getMilestone
      parameters:
      - description: The ID of the Milestone.
        in: path
        name: milestone-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Milestone
    put:
      description: Update Milestone can be used to update Milestone properties.
      operationId: updateMilestone
      parameters:
      - description: The ID of the Milestone.
        in: path
        name: milestone-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMilestone'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Milestone
      x-codegen-request-body-name: UpdateMilestone
  /api/v3/milestones/{milestone-public-id}/epics:
    get:
      description: List all of the Epics within the Milestone.
      operationId: listMilestoneEpics
      parameters:
      - description: The ID of the Milestone.
        in: path
        name: milestone-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EpicSlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Milestone Epics
  /api/v3/projects:
    get:
      description: List Projects returns a list of all Projects and their attributes.
      operationId: listProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Projects
    post:
      description: Create Project is used to create a new Shortcut Project.
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProject'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Project
      x-codegen-request-body-name: CreateProject
  /api/v3/projects/{project-public-id}:
    delete:
      description: "Delete Project can be used to delete a Project. Projects can only\
        \ be deleted if all associated Stories are moved or deleted. In the case that\
        \ the Project cannot be deleted, you will receive a 422 response."
      operationId: deleteProject
      parameters:
      - description: The unique ID of the Project.
        in: path
        name: project-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Project
    get:
      description: Get Project returns information about the selected Project.
      operationId: getProject
      parameters:
      - description: The unique ID of the Project.
        in: path
        name: project-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Project
    put:
      description: Update Project can be used to change properties of a Project.
      operationId: updateProject
      parameters:
      - description: The unique ID of the Project.
        in: path
        name: project-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Project
      x-codegen-request-body-name: UpdateProject
  /api/v3/projects/{project-public-id}/stories:
    get:
      description: List Stories returns a list of all Stories in a selected Project
        and their attributes.
      operationId: listStories
      parameters:
      - description: The unique ID of the Project.
        in: path
        name: project-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetProjectStories'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Stories
      x-codegen-request-body-name: GetProjectStories
  /api/v3/repositories:
    get:
      description: List Repositories returns a list of all Repositories and their
        attributes.
      operationId: listRepositories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Repository'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Repositories
  /api/v3/repositories/{repo-public-id}:
    get:
      description: Get Repository returns information about the selected Repository.
      operationId: getRepository
      parameters:
      - description: The unique ID of the Repository.
        in: path
        name: repo-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Repository
  /api/v3/search:
    get:
      description: "Search lets you search Epics and Stories based on desired parameters.\
        \ Since ordering of the results can change over time (due to search ranking\
        \ decay, new Epics and Stories being created), the `next` value from the previous\
        \ response can be used as the path and query string for the next page to ensure\
        \ stable ordering."
      operationId: search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
          description: Resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Search
      x-codegen-request-body-name: Search
  /api/v3/search/epics:
    get:
      description: "Search Epics lets you search Epics based on desired parameters.\
        \ Since ordering of stories can change over time (due to search ranking decay,\
        \ new Epics being created), the `next` value from the previous response can\
        \ be used as the path and query string for the next page to ensure stable\
        \ ordering."
      operationId: searchEpics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicSearchResults'
          description: Resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Search Epics
      x-codegen-request-body-name: Search
  /api/v3/search/iterations:
    get:
      description: "Search Iterations lets you search Iterations based on desired\
        \ parameters. Since ordering of results can change over time (due to search\
        \ ranking decay, new Iterations being created), the `next` value from the\
        \ previous response can be used as the path and query string for the next\
        \ page to ensure stable ordering."
      operationId: searchIterations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterationSearchResults'
          description: Resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Search Iterations
      x-codegen-request-body-name: Search
  /api/v3/search/milestones:
    get:
      description: "Search Milestones lets you search Milestones based on desired\
        \ parameters. Since ordering of results can change over time (due to search\
        \ ranking decay, new Milestones being created), the `next` value from the\
        \ previous response can be used as the path and query string for the next\
        \ page to ensure stable ordering."
      operationId: searchMilestones
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MilestoneSearchResults'
          description: Resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Search Milestones
      x-codegen-request-body-name: Search
  /api/v3/search/stories:
    get:
      description: "Search Stories lets you search Stories based on desired parameters.\
        \ Since ordering of stories can change over time (due to search ranking decay,\
        \ new stories being created), the `next` value from the previous response\
        \ can be used as the path and query string for the next page to ensure stable\
        \ ordering."
      operationId: searchStories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorySearchResults'
          description: Resource
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Search Stories
      x-codegen-request-body-name: Search
  /api/v3/stories:
    post:
      description: Create Story is used to add a new story to your Shortcut.
      operationId: createStory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryParams'
        description: Request parameters for creating a story.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Story
      x-codegen-request-body-name: CreateStoryParams
  /api/v3/stories/bulk:
    delete:
      description: Delete Multiple Stories allows you to delete multiple archived
        stories at once.
      operationId: deleteMultipleStories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteStories'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Multiple Stories
      x-codegen-request-body-name: DeleteStories
    post:
      description: "Create Multiple Stories allows you to create multiple stories\
        \ in a single request using the same syntax as [Create Story](https://developer.shortcut.com/api/rest/v3#create-story)."
      operationId: createMultipleStories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStories'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Multiple Stories
      x-codegen-request-body-name: CreateStories
    put:
      description: Update Multiple Stories allows you to make changes to numerous
        stories at once.
      operationId: updateMultipleStories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStories'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Multiple Stories
      x-codegen-request-body-name: UpdateStories
  /api/v3/stories/search:
    post:
      description: Search Stories lets you search Stories based on desired parameters.
      operationId: searchStoriesOld
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchStories'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorySlim'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Search Stories (Old)
      x-codegen-request-body-name: SearchStories
  /api/v3/stories/{story-public-id}:
    delete:
      description: Delete Story can be used to delete any Story.
      operationId: deleteStory
      parameters:
      - description: The ID of the Story.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Story
    get:
      description: Get Story returns information about a chosen Story.
      operationId: getStory
      parameters:
      - description: The ID of the Story.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Story
    put:
      description: Update Story can be used to update Story properties.
      operationId: updateStory
      parameters:
      - description: The unique identifier of this story.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStory'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Story
      x-codegen-request-body-name: UpdateStory
  /api/v3/stories/{story-public-id}/comments:
    get:
      description: Lists Comments associated with a Story
      operationId: listStoryComment
      parameters:
      - description: The ID of the Story that the Comment is in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StoryComment'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Story Comment
    post:
      description: Create Comment allows you to create a Comment on any Story.
      operationId: createStoryComment
      parameters:
      - description: The ID of the Story that the Comment is in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryComment'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Story Comment
      x-codegen-request-body-name: CreateStoryComment
  /api/v3/stories/{story-public-id}/comments/{comment-public-id}:
    delete:
      description: Delete a Comment from any story.
      operationId: deleteStoryComment
      parameters:
      - description: The ID of the Story that the Comment is in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Story Comment
    get:
      description: Get Comment is used to get Comment information.
      operationId: getStoryComment
      parameters:
      - description: The ID of the Story that the Comment is in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Story Comment
    put:
      description: Update Comment replaces the text of the existing Comment.
      operationId: updateStoryComment
      parameters:
      - description: The ID of the Story that the Comment is in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoryComment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Story Comment
      x-codegen-request-body-name: UpdateStoryComment
  /api/v3/stories/{story-public-id}/comments/{comment-public-id}/reactions:
    delete:
      description: Delete a reaction from any story comment.
      operationId: deleteStoryReaction
      parameters:
      - description: The ID of the Story that the Comment is in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrDeleteStoryReaction'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Story Reaction
      x-codegen-request-body-name: CreateOrDeleteStoryReaction
    post:
      description: Create a reaction to a story comment.
      operationId: createStoryReaction
      parameters:
      - description: The ID of the Story that the Comment is in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the Comment.
        in: path
        name: comment-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrDeleteStoryReaction'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StoryReaction'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Story Reaction
      x-codegen-request-body-name: CreateOrDeleteStoryReaction
  /api/v3/stories/{story-public-id}/history:
    get:
      operationId: storyHistory
      parameters:
      - description: The ID of the Story.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/History'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Story History
  /api/v3/stories/{story-public-id}/tasks:
    post:
      description: Create Task is used to create a new task in a Story.
      operationId: createTask
      parameters:
      - description: The ID of the Story that the Task will be in.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTask'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Task
      x-codegen-request-body-name: CreateTask
  /api/v3/stories/{story-public-id}/tasks/{task-public-id}:
    delete:
      description: Delete Task can be used to delete any previously created Task on
        a Story.
      operationId: deleteTask
      parameters:
      - description: The unique ID of the Story this Task is associated with.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The unique ID of the Task.
        in: path
        name: task-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Task
    get:
      description: Returns information about a chosen Task.
      operationId: getTask
      parameters:
      - description: The unique ID of the Story this Task is associated with.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The unique ID of the Task.
        in: path
        name: task-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Task
    put:
      description: Update Task can be used to update Task properties.
      operationId: updateTask
      parameters:
      - description: The unique identifier of the parent Story.
        in: path
        name: story-public-id
        required: true
        schema:
          format: int64
          type: integer
      - description: The unique identifier of the Task you wish to update.
        in: path
        name: task-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTask'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Task
      x-codegen-request-body-name: UpdateTask
  /api/v3/story-links:
    post:
      description: |-
        Story Links (called Story Relationships in the UI) allow you create semantic relationships between two stories. The parameters read like an active voice grammatical sentence:  subject -> verb -> object.

        The subject story acts on the object Story; the object story is the direct object of the sentence.

        The subject story "blocks", "duplicates", or "relates to" the object story.  Examples:
        - "story 5 blocks story 6” -- story 6 is now "blocked" until story 5 is moved to a Done workflow state.
        - "story 2 duplicates story 1” -- Story 2 represents the same body of work as Story 1 (and should probably be archived).
        - "story 7 relates to story 3”
      operationId: createStoryLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryLink'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryLink'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Create Story Link
      x-codegen-request-body-name: CreateStoryLink
  /api/v3/story-links/{story-link-public-id}:
    delete:
      description: Removes the relationship between the stories for the given Story
        Link.
      operationId: deleteStoryLink
      parameters:
      - description: The unique ID of the Story Link.
        in: path
        name: story-link-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Delete Story Link
    get:
      description: Returns the stories and their relationship for the given Story
        Link.
      operationId: getStoryLink
      parameters:
      - description: The unique ID of the Story Link.
        in: path
        name: story-link-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryLink'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Story Link
    put:
      description: Updates the stories and/or the relationship for the given Story
        Link.
      operationId: updateStoryLink
      parameters:
      - description: The unique ID of the Story Link.
        in: path
        name: story-link-public-id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoryLink'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryLink'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Update Story Link
      x-codegen-request-body-name: UpdateStoryLink
  /api/v3/workflows:
    get:
      description: Returns a list of all Workflows in the Workspace.
      operationId: listWorkflows
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Workflow'
                type: array
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: List Workflows
  /api/v3/workflows/{workflow-public-id}:
    get:
      description: Get Workflow returns information about a chosen Workflow.
      operationId: getWorkflow
      parameters:
      - description: The ID of the Workflow.
        in: path
        name: workflow-public-id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
          description: Resource
        "400":
          content: {}
          description: Schema mismatch
        "404":
          content: {}
          description: Resource does not exist
        "422":
          content: {}
          description: Unprocessable
      summary: Get Workflow
components:
  schemas:
    BasicWorkspaceInfo:
      example:
        url_slug: url_slug
        estimate_scale:
        - 0
        - 0
      properties:
        url_slug:
          type: string
        estimate_scale:
          items:
            format: int64
            type: integer
          type: array
      required:
      - estimate_scale
      - url_slug
      type: object
    Branch:
      description: Branch refers to a VCS branch. Branches are feature branches associated
        with Shortcut Stories.
      example:
        pull_requests:
        - vcs_labels:
          - entity_type: entity_type
            color: color
            name: name
            description: description
            id: 8
          - entity_type: entity_type
            color: color
            name: name
            description: description
            id: 8
          target_branch_name: target_branch_name
          merged: true
          created_at: 2000-01-23T04:56:07.000+00:00
          title: title
          num_commits: 9
[...]
